.story-board-modal {
  font-family: Inter;
  max-width: 400px;
  margin: auto;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  left: 35%;
  animation: animate-reveal .5s ease-in-out;



  .modal-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    gap: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out background;
    border-radius: 8px;
    z-index: 3;

    &:hover {
      background: #484848;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .text-content {
      p {
        line-height: 0.8rem;
        margin: 0;
        color: white;
      }
    }
  }
}

@keyframes animate-reveal {
  from {
    top: -50%;
    opacity: 0.3;
    background: black;
  }

  to {
    opacity: 1;
    top: 0;
    background: rgba(0, 0, 0, 1)
  }
}

#ticker-modal {
  .modal-dialog {
    top: 14rem;

    .modal-content {
      background-color: black;
      border-color: black;
    }
  }

}


.ticker-modal {
  // @extend .story-board-modal;
  font-family: Inter;

  .title {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1.5rem;


    img {
      width: 50px;
      height: 50px
    }



    .text-content {
      p {
        margin: 0;
        line-height: 0.8rem;

      }

      .description {
        font-size: 1rem;
      }
    }
  }

  .middle {

    margin-block: 2.5rem;

    .input {
      background-color: #fff;
      padding: 0.5rem;
      border-radius: 60px;
      display: flex;
      align-items: center;

      i {
        color: black;
        font-size: 1.3rem;
        padding-left: 1rem;
      }

      input {
        all: unset;
        margin-left: 0.5rem;
        font-size: 1rem;
        height: 3rem;
        width: 100%;
        display: block;
        box-sizing: border-box;
      }
    }

  }
}