.text-muted {
  color: #616060 !important;
}
.apex-charts {
  .apexcharts-tooltip {
    background: #333333;
    color: white;
  }
  .apexcharts-yaxis text,
  .apexcharts-xaxis text {
    fill: #919192;
  }
  .apexcharts-yaxis text tspan,
  .apexcharts-xaxis text tspan {
    font-family: "sequel_sansbold_body"
  }
}
