
// 
// breadcrumb.scss
//

.breadcrumb{
    padding-left: 10px;
}

// Breadcrumb item arrow
.breadcrumb-item {
    > a {
        color: #616060;
        font-size: 12px;
    }
    +.breadcrumb-item {
        &::before {
            font-family: "Material Design Icons";
        }
    }
}
  