.story-board-users {
  display: flex;
  align-items: center;

  &-circ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    padding-top: 2px;
    height: 52px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 60px;
    color: $white;
    border: 6px solid $cover-dark;
    box-shadow: 0px 2px 0px -1px rgba($white, 0.3);
  }

  &-user {
    background: $cover-4;
  }

  &-count {
    background: $stroke-6;
    margin-left: -12px;
  }
}
