body {
  background-color: $body-bg;
}

#chartdiv canvas:nth-of-type(2) {
  display: none;
}

.container {
  display: flex;
  touch-action: none;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
}

.dropzone {
  flex: 1;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.dropzone.left {
  margin-right: 10px;
}

.grid-item {
  height: 300px;
  width: 100%;
}

.grid-item-content {
  width: 100%;
  height: 300px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 0.5em;
}

.my-chart-card {
  min-height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-calendar-heatmap .color-empty {
  fill: #e6e7e2;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #e9b5d3;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #e587bc;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #de60a8;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #00ff85;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #f8d1e7;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #f5f5f5;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: url(#pathway);
}

.badge.bg-danger {
  background-color: #de60a8 !important;
}

.card {
  height: 100%;
}

.template-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-height: 430px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  &.two-col {
    grid-template-columns: 1fr 1fr;
  }

  p {
    margin: 4px 0px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 12px;
  }

  span {
    line-height: 1.2;
    font-size: 0.875rem;
    display: block;
    margin-top: 4px;
  }
}

.template-selector-item {
  position: relative;

  &:hover {
    .template-selector-remove{
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}

.template-selector-remove {
  position: absolute;
  width: 26px;
  height: 26px;
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  color: $white;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  top: -5px;
  right: -5px;
  background-color: $cover-6;
  transition: all 300ms ease;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  &:hover {
    background-color: rgba($white, 1);
    color: $black;
  }
}

.template-selector {
  border-radius: 8px;
  overflow: hidden;
  background: $cover-6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  border: 2px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;

  svg {
    max-width: 100%;
    height: 100%;
  }

  &.selected {
    border: 2px solid #f5f5f5;
  }

  &:hover {
    border-color: $primary;
  }
}

.template-selector-img {
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 130px;
  border: 2px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($white, 0.2);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &.selected {
    border: 2px solid #f5f5f5;
  }

  &:hover {
    border-color: $stroke-5;
  }
}

.editor {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: #222638;
  padding: 24px;
}

.chart-here {
  min-height: 200px;
  border: 1px dashed #f5f5f5;
  border-radius: 8px;
}

.offcanvas {
  &.offcanvas-end {
    border-color: #414141;
  }

  background-color: #121212;

  .offcanvas-header {
    .offcanvas-title {
      // margin-bottom: 16px;
    }
  }

  .btn-rounded {
    border-radius: 24px;
  }

  .btn-chart {
    border-width: 0px;
    .card{
      border-radius: 0;
    }
  }

  .btn-success {
    color: #212121;
  }
}

.circular {
  animation: rotate-icn 2s linear infinite;
  height: 1rem;
  transform-origin: center center;
  width: 1rem;
  margin-right: 0.5rem;

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash-icn 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: $primary;
  }
}

@keyframes rotate-icn {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash-icn {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
