#titlebar {
  a {
    .links {
      display: flex;
      column-gap: 48px;

      a {
        color: $white;
      }
      a.active {
        color: $teagreen;
        text-decoration: underline !important;
        text-underline-offset: 20px;
      }
    }
  }

  .btn {
    background-color: #333333;
    border: 0px;
  }
}
