#titlebar {
  background-color: #141823;
  padding: 16px 32px 16px;
  border-radius: 8px;
  margin: 0px 10px 16px 10px;

  a {
    color: $white;
  }
  a.active {
    color: $teagreen;
    text-decoration: underline !important;
    text-underline-offset: 5px;
  }
}
