@import "../../../../assets/scss/variables-dark.scss";

.statistics-card {
  .description {
    line-height: 1.2rem;
    height: 2.4rem;
    margin-bottom: 0.5rem;
    font-family: 'sequel_sansbook_body', sans-serif;
    color: white;
  }

  .value {
    color: white;
    font-family: 'sequel_sansbook_body', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
  }

  .change {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'sequel_sansbook_body', sans-serif;
  }

  @include media-breakpoint-down(xl) {
    .value {
      font-size: 32px;
    }
  }
}