.caption-text {
  position: absolute;
  right: 0;
  top: -2.5rem;
  z-index: 10;
}

.gaming-overview {
  margin-top: -0.75rem;
}

.chart-actions {
  margin-top: -4rem;
}

.page-content {
  padding-right: 2rem !important;
}
